/* *{
    outline: 1px solid red;
} */

p {
    text-align: center;
}

.blue {
    background-color: #307aab;
}

.darkwhite {
    background-color: #eeeff1;
}

.white {
    background-color: #ffffff;
}

.center {
    margin: auto;
}

.row {
    padding: 1rem;
}

